_site/
.jekyll-cache/
.sass-cache/
.jekyll-metadata
node_modules/
migrated_prompt_history/
dist/
dist-ssr/
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
